:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fakescreen {
  border: 2px;
  border-style: solid;
  border-color: black;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px black;
  font-family: "Seven Segment";
  color: black;
  user-select: none;
}

h1.volumetext {
  padding-bottom: -10px;
  padding-left: 5px;
  text-align: left;
  margin-top: -10px;
  font-size: 1ems;
  margin-bottom: auto;
}

.volumeslider {
  padding-top: 20px;
  width: -webkit-fill-available;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  overflow: hidden;
  max-width: 100%;
}

button {
  border: 1px solid transparent;
  padding: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  flex-grow: 1;
}

a {
  color: rgb(48, 209, 209);
  text-decoration: none;
}

.stationjumper {
  display: flex;
}

button:hover {
  border-color: #ffffff;
}

#urlbox {
  border: 1px;
  border-color: #000000;
  border-style: solid;
  transition: border-color 0.25s;
  width: 100%;
}

#urlbox:hover {
  border-color: #ffffff;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}